[Desktop Entry]
Name=Screenshot
Name[zh_CN]=截图
Exec=yoyo-screenshot
Icon=yoyo-screenshot
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;